div{
    margin-bottom: 2rem;
    display: flex;
    flex-flow: column nowrap;
    width: 57rem;
    min-height: fit-content;
    background: lightblue;

    border-radius: .5rem;
    box-shadow: .1rem .1rem .5rem #42445a;
}
div h2{
    padding-left: 2rem;
}