body {

    width: 80%;
    margin: 0 auto;
    /* background-color: lightgray; */
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto 80px;
    grid-template-areas: "hd hd hd hd""left content1 content2 content2""ftr ftr ftr ftr";
}

header {
    background: blue;
    grid-area: hd;
}

.left {
    background: yellow;
    grid-area: left;
}

#content1, #content2{
    padding: 6px;
    font-size: 0.8em;
    
}
#content1 {
    /* background-color: yellowgreen; */
    grid-area: content1;
}

#content2{
    grid-area: content2;


}

footer {
    background-color: aqua;
    grid-area: ftr;
}



/* break point */


@media only screen and (max-width: 1200px) {
    body {

        width: 90%;

    }

    .container {
        padding: 10px;
        gap: 1em;
        border-radius: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 70px auto auto 70px;
        grid-template-areas:
            "hd hd "
            "left left"
            "content1  content2"
            "ftr ftr";
    }


    header {
        background-color: transparent;
        border: 1px dashed black;
        padding: 10px;
        border-radius: 10px;


    }


    #content1 {
        background-color: transparent;
        border: 1px dashed black;
        padding: 10px;
        border-radius: 10px;


    }

    #content2 {
        background-color: transparent;
        border: 1px dashed black;
        padding: 10px;
        border-radius: 10px;


    }


    .left {
        background-color: transparent;
        border: 1px dashed black;
        padding: 10px;
        border-radius: 10px;

    }

    h1 {
        display: none;
    }

    header h1 {
        display: inline;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 800;
        font-stretch: extra-expanded;
        font-variant: small-caps;
    }

    footer {
        display: flex;
        background-color: transparent;
        border: 1px dashed black;
        padding: 10px;
        border-radius: 10px;

    }

}





@media only screen and (max-width: 700px) {


    body {

        width: 100%;
        border-radius: 5px;
        padding: 0;

    }


    .container {
        padding: 1px;
        gap: 1em;
        border-radius: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 40px auto auto auto 30px;
        grid-template-areas:
            "hd  "
            "left"
            "content1"
            "content2"
            "ftr";
    }

    header h1 {
        font-size: 1em;
    }

    .left {

        border-radius: 5px;

    }

    .left ul {

        display: none;
    }
}