body {
    /* display: none; */
}

.container {
    /* display: none; */
}

main {
    margin-top:20px;
}
.container {

    
}

 .payslip {
    /* border: 2px solid red; */
    
}

a {
    display: block;
}

/* nav */
.label,.glyphicon { margin-right:5px; }