body {
    /* display: none; */
}

.container {
    /* display: none; */
}

main {
    margin-top:20px;
}
.container {

    
}

 .payslip {
    /* border: 2px solid red; */
    
}

a {
    display: block;
}

/* nav */
.label,.glyphicon { margin-right:5px; }


.error { 

    height: 30px;
    border: 1px dotted darkgray;
    background-color: lightgray;
    text-align: center;
    padding: 8px;
    color: red;
   
}